/*// Extra large devices (large desktops, 1440px and up)*/
@media (min-width: 2100px) {
}
/*// Extra large devices (large desktops, 1440px and up)*/
@media (min-width: 1700px) and (max-width: 2099.98px) {
}
/*// Extra large devices (large desktops, 1440px and up)*/
@media (min-width: 1440px) and (max-width: 1699.98px) {
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1439.98px) {
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .welcomeTo .box {
    padding: 30px 30px;
  }
  .welcomeTo .box .item-left h1 {
    font-size: 1.6rem;
  }
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .welcomeTo .box .item-left h1 {
    font-size: 1.6rem;
  }
  .welcomeTo .box .item-left h1 br {
    display: none;
  }
  .welcomeTo .box .row {
    direction: ltr !important;
  }
  .welcomeTo .box .item-right img {
    max-width: 400px;
    display: block;
    margin: auto;
    margin-bottom: 40px;
  }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .welcomeTo .box .item-left h1 {
    font-size: 1.6rem;
  }
  .welcomeTo .box .item-left h1 br {
    display: none;
  }
  .welcomeTo .box .row {
    direction: ltr !important;
  }
  .welcomeTo .box .item-right img {
    max-width: 400px;
    display: block;
    margin: auto;
    margin-bottom: 40px;
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .welcomeTo .box .item-left h1 {
    font-size: 1.6rem;
  }
  .welcomeTo .box .item-left h1 br {
    display: none;
  }
  .welcomeTo .box .row {
    direction: ltr !important;
  }
  .welcomeTo .box .item-right img {
    max-width: 250px;
    display: block;
    margin: auto;
    margin-bottom: 40px;
  }
  .welcomeTo .box {
    padding: 40px 25px;
  }
  .Experience .experienceTop h2 {
    font-size: 1.4rem;
  }
  .goodMorning h4 {
    font-size: 22px;
  }
  .Experience .box .item h4 {
    font-size: 18px;
    margin-bottom: 15px;
  }
}
