@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* basic style */
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  position: relative;
  color: #262626;
  background: #f5f5f5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
p {
  color: #646464;
}
a {
  display: inline-block;
  transition: all ease 0.6s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
small {
  display: inline-block;
}
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
/* media style */
.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}
.media-body {
  -ms-flex: 1;
  flex: 1;
}
.img-fluid {
  max-width: 100%;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
/* ----------------------------------------------
          goodMorning  start
---------------------------------------------- */
.goodMorning {
  padding: 20px 0;
}
.goodMorning h4 {
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 0;
}
/* ----------------------------------------------
          goodMorning  end 
---------------------------------------------- */

/* ----------------------------------------------
          welcomeTo  start
---------------------------------------------- */
.welcomeTo {
  margin: 20px 0 35px 0;
}
.welcomeTo .box {
  padding: 40px 60px;
  border-radius: 10px;
  background-color: #fff;
}
.welcomeTo .box {
}
.welcomeTo .box .item-right {
}
.welcomeTo .box .item-right img {
}
.welcomeTo .box .item-left {
}
.welcomeTo .box .item-left h1 {
  font-size: 2.2rem;
  margin-bottom: 25px;
}
.welcomeTo .box .item-left p a {
  font-weight: 700;
  color: #0044c5;
}
.welcomeTo .box .item-left p {
  margin-bottom: 30px;
}
.welcomeTo .box .item-left ul {
}
.welcomeTo .box .item-left ul li {
}
.welcomeTo .box .item-left ul li:first-child a {
  background-color: transparent;
  color: #202020;
  margin-right: 5px;
}
.welcomeTo .box .item-left ul li:first-child a:hover {
  background-color: #1372e6;
  color: #fff;
}
.welcomeTo .box .item-left ul li a {
  background-color: #1372e6;
  font-size: 16x;
  font-weight: 700;
  border-radius: 30px;
  padding: 8px 20px;
  color: #fff;
}
/* ----------------------------------------------
          welcomeTo  end 
---------------------------------------------- */

/* ----------------------------------------------
           Experience  start
---------------------------------------------- */
.Experience {
}
.Experience .experienceTop {
  margin-bottom: 35px;
}
.Experience .experienceTop h2 {
  font-size: 28px;
  margin-bottom: 0;
}
.Experience .box {
}
.Experience .box .item {
  border: 2px solid #f2f2f2;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
}
.Experience .box .item .media {
  margin-bottom: 15px;
}
.Experience .box .item .media img {
  max-width: 20px;
  margin-right: 6px;
  align-self: center;
}
.Experience .box .item .media .media-body {
  align-self: center;
}
.Experience .box .item .media .media-body h6 {
  font-size: 14px;
  margin-bottom: 0;
}
.Experience .box .item h4 {
  font-size: 20px;
  margin-bottom: 20px;
}
.Experience .box .item p {
  font-size: 15px;
  margin-bottom: 0;
}

/* ----------------------------------------------
           Experience end 
---------------------------------------------- */

/* ----------------------------------------------
            start
---------------------------------------------- */

/* ----------------------------------------------
            end 
---------------------------------------------- */

/* ----------------------------------------------
            start
---------------------------------------------- */

/* ----------------------------------------------
            end 
---------------------------------------------- */

/* ----------------------------------------------
            start
---------------------------------------------- */

/* ----------------------------------------------
            end 
---------------------------------------------- */

/* ----------------------------------------------
            start
---------------------------------------------- */

/* ----------------------------------------------
            end 
---------------------------------------------- */

/* ----------------------------------------------
            start
---------------------------------------------- */

/* ----------------------------------------------
            end 
---------------------------------------------- */

/* ----------------------------------------------
            start
---------------------------------------------- */

/* ----------------------------------------------
            end 
---------------------------------------------- */

/* ----------------------------------------------
            start
---------------------------------------------- */

/* ----------------------------------------------
            end 
---------------------------------------------- */

/* ----------------------------------------------
            start
---------------------------------------------- */

/* ----------------------------------------------
            end 
---------------------------------------------- */

/* ----------------------------------------------
            start
---------------------------------------------- */

/* ----------------------------------------------
            end 
---------------------------------------------- */

/* ----------------------------------------------
            start
---------------------------------------------- */

/* ----------------------------------------------
            end 
---------------------------------------------- */

/* ----------------------------------------------
            start
---------------------------------------------- */

/* ----------------------------------------------
            end 
---------------------------------------------- */

/* ----------------------------------------------
            start
---------------------------------------------- */

/* ----------------------------------------------
            end 
---------------------------------------------- */

/* ----------------------------------------------
            start
---------------------------------------------- */

/* ----------------------------------------------
            end 
---------------------------------------------- */

/* ----------------------------------------------
            start
---------------------------------------------- */

/* ----------------------------------------------
            end 
---------------------------------------------- */

/* ----------------------------------------------
            start
---------------------------------------------- */

/* ----------------------------------------------
            end 
---------------------------------------------- */

/* ----------------------------------------------
            start
---------------------------------------------- */

/* ----------------------------------------------
            end 
---------------------------------------------- */

/* ----------------------------------------------
            start
---------------------------------------------- */

/* ----------------------------------------------
            end 
---------------------------------------------- */

/* ----------------------------------------------
            start
---------------------------------------------- */

/* ----------------------------------------------
            end 
---------------------------------------------- */

/* ----------------------------------------------
            start
---------------------------------------------- */

/* ----------------------------------------------
            end 
---------------------------------------------- */

/* ----------------------------------------------
            start
---------------------------------------------- */

/* ----------------------------------------------
            end 
---------------------------------------------- */

/* ----------------------------------------------
            start
---------------------------------------------- */

/* ----------------------------------------------
            end 
---------------------------------------------- */
